<ul>
  <li>{{ channel_name }}</li>
  <li>{{ current_build_number }}</li>
  <li>{{ device_name }}</li>
  <li>{{ last_check_date }}</li>
  <li>{{ last_update_date }}</li>
  <li>{{ target_build_number }}</li>
  <li>{{ version_detail }}</li>
</ul>
