{{#if isInstallable}}
  <div class="b-installer {{ installerClass }} {{ installHTMLClass }}">
    {{#if installActionString}}
      <button style="color: black" class="b-installer__button {{ buttonClass }} {{ installButtonClass }}">{{ installActionString }}</button>
    {{/if}}
  </div>
{{else}}
  <div class="b-installer b-installer_disabled {{ installerClass }} {{ installHTMLClass }}">
    {{#if isInstalled}}
      <button style="color: black" class="b-installer__button button--secondary">Installed</button>
    {{else}}
      <button style="color: black" class="b-installer__button button--secondary">Not installable</button>
    {{/if}}
  </div>
{{/if}}
