<div class="eight-col last-col">

  <div style="margin: 0 10px" class="three-col">
  {{#if iconsvg}}
    {{{ iconsvg }}}
  {{else}}
    <img class="b-branding-header__icon" src="{{ icon }}">
  {{/if}}
  </div>

  <div class="five-col last-col">
    <div class="row no-border eight-col last-col">
      <div class="three-col">
        <h3 class="b-branding-header__name">{{ name }}</h3>
      </div>
    </div>

    <div class="row no-border eight-col last-col">
      <div class="b-branding-header__name three-col">
        <h3>{{ subname }}</h3>
      </div>
    </div>

    <div class="row no-border eight-col last-col">
      <div class="b-branding-header__link three-col">
          <a href="{{ linksrc }}">{{ link }}</a>
      </div>
    </div>

  </div>

</div>