<h2>Profile</h2>
{{#if isLoggedIn}}
<div style="overflow: hidden;"> 
  <div class="one-col">
    <img src="{{ avatarUrl }}?s=100" width="100" height="100"
         id="profile-avatar" alt="Profile picture for {{ fullName }}">
  </div> 
  <div class="four-col last-col">
    <div style="font-size: large; margin-bottom: 0.5em;" id="profile-fullname">{{ fullName }}</div>
    <div id="profile-email">{{ email }}</div>
  </div>
</div>
  <span>
    <a class="button--secondary" href="https://login.ubuntu.com/" target="_blank">
      <span class="external">Edit Ubuntu SSO account</span>
    </a>
  </span>
  <span>
    <button class="button--secondary btn-logout">Logout</button>
  </span>
</div>
{{else}}
<div style="overflow: hidden;"> 
  <div class="four-col last-col">
    <p>You are currently not logged in.<br>
       Please login to edit your profile information.</p>
  </div>
</div>
<div>
  <a class="button--secondary btn-login">
    <span class="external">Login</span><!-- should be: with Ubuntu SSO -->
  </a>
</div>
{{/if}}
