<td>
  <div>
    <img src="{{ icon }}" alt="Icon for {{ name }}" width="32" height="32">
    <span class="vertical-align:middle;">{{ name }}</span>
  </div>
</td>
<td>
  <span class="vertical-align:middle;">{{ version }}</span>
</td>
<td>
  <span class="vertical-align:middle;">{{ installDate }}</span>
</td>
<td>
  <button class="button--secondary">Update</button>
</td>

