<div class="row">
    <h2>Device information</h2>
</div>
<div class="row">
  <div class="col-2"><strong>Device name</strong></div>
  <div class="col-6" id="info-device-name">{{ deviceName }}</div>
</div>
<div class="row">
  <div class="col-2"><strong>Brand</strong></div>
  <div class="col-6" id="info-brand">{{ brand }}</div>
</div>
<div class="row">
  <div class="col-2"><strong>Model</strong></div>
  <div class="col-6" id="info-model">{{ model }}</div>
</div>
<div class="row">
  <div class="col-2"><strong>Serial</strong></div>
  <div class="col-6" id="info-serial">{{ serial }}</div>
</div>
<div class="row">
  <div class="col-2"><strong>Operating System</strong></div>
  <div class="col-6" id="info-operating-system">{{ operatingSystem }}</div>
</div>
<div class="row">
  <div class="col-2"><strong>Interfaces</strong></div>
  <div class="col-6" id="info-interfaces">{{ interfaces }}</div>
</div>
<div class="row">
  <div class="col-2"><strong>Uptime</strong></div>
  <div class="col-6" id="info-uptime">{{ uptime }}</div>
</div>

<hr>

<h2>Power</h2>
<div class="row">
    <div class="col-2">
        <p>
          <button id="restart-button" type="p-button--neutral" name="">Restart</button>
        </p>
    </div>
    <div class="col-2">
      <p>
        <button id="power-off-button" type="p-button--neutral" name="">Power off</button>
      </p>
    </div>
</div>

<hr>

<h2>Factory settings</h2>
<div class="row">
    <div class="col-3">
        <button type="p-button--neutral" disabled>Reset to factory settings</button>
    </div>
</div>

<div class="p-confirmation">
  <div class="p-confirmation__overlay">
    <div class="p-confirmation__dialog">
      <div class="p-confirmation__dialog__message">
      </div>
      <div class="p-confirmation__dialog__buttons">
        <button id="cancel-button" class="p-button--neutral" style="margin-right: 20px">Cancel</button>
        <button id="confirm-button" class="p-button--neutral" style="margin-right: 20px">Ok</button>
      </div>
    </div>
  </div>
</div>
