<h2>Device information</h2>
<div>
  <div class="eight-col last-col">
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Device name</div>
      <div class="five-col last-col" id="info-device-name">{{ deviceName }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Brand</div>
      <div class="five-col last-col" id="info-brand">{{ brand }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Model</div>
      <div class="five-col last-col" id="info-model">{{ model }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Serial</div>
      <div class="five-col last-col" id="info-serial">{{ serial }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Operating System</div>
      <div class="five-col last-col" id="info-operating-system">{{ operatingSystem }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name  three-col">Interfaces</div>
      <div class="five-col last-col" id="info-interfaces">{{ interfaces }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name three-col">Uptime</div>
      <div class="five-col last-col" id="info-uptime">{{ uptime }}</div>
    </div>
  </div>
</div>
