<<<<<<< Updated upstream
<h2>Device information</h2>
<div>
  <div class="eight-col last-col">
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name">Device name</div>
      <div class="five-col last-col" id="info-device-name">{{ deviceName }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name">Brand</div>
      <div class="five-col last-col" id="info-brand">{{ brand }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name">Model</div>
      <div class="five-col last-col" id="info-model">{{ model }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name">Serial</div>
      <div class="five-col last-col" id="info-serial">{{ serial }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name">Operating System</div>
      <div class="five-col last-col" id="info-operating-system">{{ operatingSystem }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name ">Interfaces</div>
      <div class="five-col last-col" id="info-interfaces">{{ interfaces }}</div>
    </div>
    <div class="row no-border eight-col last-col">
      <div class="b-settings__content__row__name">Uptime</div>
      <div class="five-col last-col" id="info-uptime">{{ uptime }}</div>
    </div>
  </div>
</div>

=======
<div class="row">
    <h2>Device information</h2>
</div>
<div class="row">
  <div class="col-3"><strong>Device name</strong></div>
  <div class="col-6" id="info-device-name">{{ deviceName }}</div>
</div>
<div class="row">
  <div class="col-3"><strong>Brand</strong></div>
  <div class="col-6" id="info-brand">{{ brand }}</div>
</div>
<div class="row">
  <div class="col-3"><strong>Model</strong></div>
  <div class="col-6" id="info-model">{{ model }}</div>
</div>
<div class="row">
  <div class="col-3"><strong>Serial</strong></div>
  <div class="col-6" id="info-serial">{{ serial }}</div>
</div>
<div class="row">
  <div class="col-3"><strong>Operating System</strong></div>
  <div class="col-6" id="info-operating-system">{{ operatingSystem }}</div>
</div>
<div class="row">
  <div class="col-3"><strong>Interfaces</strong></div>
  <div class="col-6" id="info-interfaces">{{ interfaces }}</div>
</div>
<div class="row">
  <div class="col-3"><strong>Uptime</strong></div>
  <div class="col-6" id="info-uptime">{{ uptime }}</div>
</div>
>>>>>>> Stashed changes
