<div class="b-snaplist__icon">
  <img src="{{ icon }}" alt="{{ name }} icon">
</div>
<div class="b-snaplist__name">{{ name }}</div>
{{!-- only name is shown in grid view, everything after is hidden --}}
<div class="b-snaplist__version">{{ version }}</div>
<div class="b-snaplist__origin">{{ origin }}</div>
<div class="b-snaplist__type">{{ type }}</div>
<div class="b-snaplist__actions">
  {{> installer}}
</div>
