<img src="{{ icon }}" width="96" height="96">
{{ name }}
By <a href="{{ support_url }}">{{ developer_name }}</a>
Version: {{ version }}
Size: {{ binary_filesize }}
<p>
{{#each department}}
{{ this }}
{{/each}}
</p>

<div class="b-installer {{ installHTMLClass }}">
  {{#if installActionString}}
  <div class="b-installer__button">{{ installActionString }} {{ name }} 
    <div class="b-installer__progress">
      <div class="b-installer__value"></div>
    </div>
  </div>
  {{/if}}
</div>

<div class="b-installer__message"></div>
<div class="b-installer__error">{{ message }}</div>

<div class="region-menu"></div>
<div class="region-tab"></div>
