<div class="p-strip--light">
    <div class="row" style="padding-bottom: 0">
      <div class="col-2">
        <div class="b-icon-wrapper">
          <img class="b-icon" src="{{ icon }}" width="125" height="125">
        </div>
      </div>
      <div class="col-6">
        <h1 class="b-snap__title">{{ name }}</h1>
        <div class="b-snap__developer">{{ developer }}</div>
      </div>
    </div>

    <div class="row" style="padding: 0; padding-bottom: 0.5em">
      <div class="col-7"></div>

<!-- Disabled for now, design needs fixing
        <div id="enabler-button" class="col-2" style="display: {{#if isInstalled}}block{{else}}none{{/if}}">
          {{> enabler}}
        </div>
-->
      <div id="installer-button" class="col-5">
        {{> installer}}

        <div id="progressbarwrapper" style="border: 1px; border-radius: 10px; margin-top: 1em; width: 100%; height: 0.5em">
          <div id="progress" style="background-color: #003399; width: {{ download_progress }}%; height: 0.5em">
          </div>
        </div>

        <div style="width: 100%; height: 23px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
            <small id="tasksummary">{{ task_summary }}</small>
        </div>

      </div>

    </div>
</div>

<div class="row">

  <div class="col-7">

    <ul class="p-list--divided" style="margin-right: 3em">

      <li class="p-list__item">
        Size
        <span class="b-snap__size u-float--right">{{ size }}</span>
      </li>

      <li class="p-list__item">
          Version
          <span class="b-snap__version u-float--right">{{ version }}</span>
      </li>

{{#if channel}}
      <li class="p-list__item">
          Channel
          <span class="b-snap__version u-float--right">{{ channel }}</span>
      </li>
{{/if}}

{{#if install_date}}
      <li class="p-list__item">
          Updated
          <span class="b-snap__version u-float--right">{{ install_date }}</span>
      </li>
{{/if}}
</ul>

  </div>

  <div class="col-4">
    <ul class="p-list--divided">
      <li class="p-list__item">Interfaces</li>
      <li class="p-list__item" id="interface-list">N/A</li>
    </ul>
  </div>

</div>

<div class="row" style="padding-bottom: 3em">
  <div class="col-8">
    <h3>About</h3>
      {{#if description}}
      <p>{{{ description }}}</p>
      {{else}}
      <p><i>No description</i></p>
      {{/if}}
    </div>
</div>
