<div class="b-snap__banner">
  <div class="b-snap__meta">
    <h1 class="b-snap__title">{{ name }} {{ version }} {{ binary_filesize }}</h1>
    <p>
    <span class="b-snap__origin" title="Origin">{{ origin }}</span>
    <span class="b-snap__filesize" title="Package filesize">{{ binary_filesize}}</span>
    </p>
  </div>
  <div class="b-snap__actions">
  {{#if isInstallable}}
    <div class="b-installer {{ installHTMLClass }}">
      {{#if installActionString}}
      <div class="b-installer__button">{{ installActionString }}</div>
      <div class="b-installer__progress" title="download progress">
        <div class="b-installer__value"></div>
      </div>
      {{/if}}
      <div class="b-installer__message"></div>
    </div>
    {{/if}}
  </div>
</div>
<div class="region-menu"></div>
<div class="region-tab"></div>
