<a href="/snap/{{ name }}" style="border-bottom: 0px">
  <img class="p-card__icon" src="{{ icon }}" width="125" height="125"/>

  <ul class="p-list--divided">
    <li class="p-list__item">
      <h3 id="js-snap-title" class="p-card__title js-snap-title">{{ name }}</h3>
    </li>
    {{#if developer}}
    <li class="p-list__item">By {{ developer }}</li>
    {{/if}}
  </ul>
</a>

<div class="col-9">
  <div class="u-vertically-center">
    {{#if description}}
    <p class="p-card__content" style="margin: 1.5em 1.5em">{{ description }}</p>
    {{/if}}

    <div class="u-float--right">
      {{> installer installerClass="button--positive"}}
    </div>
  </div>
</div>
