<div class="inner-wrapper">
  <div class="twelve-col last-col">
    <div class="b-layout__container">
      <div class="b-snap__banner">
        <div class="b-icon">
          <img src="{{ icon }}" width="70" height="70">
        </div>
        <div class="b-snap__meta">
          <h1 class="b-snap__title">{{ name }} {{ version }} {{ binary_filesize }}</h1>
          <p>
          <span>{{ binary_filesize}}</span>
          </p>
        </div>
        <div class="b-snap__actions">
          {{> installer}}
        </div>
      </div>
    </div>

    <div class="b-layout__container b-snap__details">
      {{#if description}}
      <p>{{ description }}</p>
      {{/if}}
      {{#if prettyInstalledSize}}
      <p>Installed size: {{prettyInstalledSize}}</p>
      {{/if}}
      {{#if prettyDownloadSize}}
      <p>Download size: {{prettyDownloadSize}}</p>
      {{/if}}
    </div>
  </div>
</div>
