<p>{{ description }}</p>
<div class="b-snap__icon">
  <img src="{{ icon }}" width="48" height="48">
</div>

<a href="{{ support_url }}">{{ developer_name }}</a>
Version: {{ version }}
Size: {{ binary_filesize }}
<p>
{{#each department}}
{{ this }}
{{/each}}
</p>

{{#if screenshot_urls }}
{{#each screenshot_urls}}
<img src="{{this}}" />
{{/each}}
{{/if}}

{{#each click_framework}}
{{this}}
{{/each}}
