{{#if addSnapItem}}
<a href="/store">
{{else}}
<a href="{{ targetSnapUri }}">
{{/if}}

<img class="p-card__icon" src="{{ icon }}" width="125" height="125">

{{#if addSnapItem}}
</a>
{{/if}}

<h3 id="js-snap-title" class="p-card__title js-snap-title">{{ name }}</h3>

<ul class="p-list--divided">
    {{#unless addSnapItem}}
        {{#if developer}}
          <li class="p-list__item">By {{ developer }}</li>
        {{/if}}
    {{/unless}}

    {{#if description}}
      <li class="p-list__item" style="text-overflow: ellipsis; white-space: nowrap; display: block">{{ description }}</li>
    {{/if}}

    {{#if prettyInstalledSize}}
      <li class="p-list__item">{{ prettyInstalledSize }}</li>
    {{/if}}
</ul>

<footer class="p-card__footer">
    <div class="u-float--right">
      {{> installer installerClass="button--positive"}}
    </div>
</footer>

</a>
