<div class="row">
  <div class="col-2">
    <div class="b-icon-wrapper">
      <img class="b-icon" src="{{ icon }}" width="125" height="125">
    </div>
  </div>
  <div class="col-6">
    <h1 class="b-snap__title">{{ name }}</h1>
    <div class="b-snap__developer">By {{ developer }}</div>
  </div>
</div>

<div class="row">
  <div class="col-2" style="float: right: width">
    {{> installer}}
  </div>
</div>


<div class="row">

  <div class="row">
    <div class="col-2">
      Category
    </div>
    <div class="col-6">
      <div class="b-snap__category">{{ category }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      Size
    </div>
    <div class="col-6">
      <div class="b-snap__size">{{ size }}</div>
    </div>
  </div>

  <div class="col-9">
    Interfaces
    <div>
      <ul>
        <li>
          API
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-8">
    <h3>About</h3>
      {{#if description}}
      <p>{{ description }}</p>
      {{/if}}
    </div>
</div>
