<div class="b-snaplist__icon">
  <img src="{{ icon }}" alt="{{ name }} icon">
</div>
<div class="b-snaplist__label">{{ name }}</div>
<div class="b-snaplist__author">{{ author }}</div>
<div class="b-snaplist__title">{{ title }}</div>
