<div class="p-strip--light">
    <div class="row">
      <div class="col-2">
        <div class="b-icon-wrapper">
          <img class="b-icon" src="{{ icon }}" width="125" height="125">
        </div>
      </div>
      <div class="col-6">
        <h1 class="b-snap__title">{{ name }}</h1>
        <div class="b-snap__developer">By {{ developer }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-7"></div>
      <div class="col-5 u-float--right">
        {{> installer}}

        <div id="progressbarwrapper" style="margin-top: 1em; width: 100%; height: 0.5em">
          <div id="progress" style="background-color: green; width: {{ download_progress }}%; height: 0.5em">
          </div>
        </div>

        <div style="width: 100%; height: 23px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
            <small id="tasksummary">{{ task_summary }}</small>
        </div>

      </div>

    </div>
</div>

<div class="row">

  <div class="col-7">

    <ul class="p-list--divided" style="margin-right: 3em">

      <li class="p-list__item">
        Size
        <span class="b-snap__size u-float--right">{{ size }}</span>
      </li>

      <li class="p-list__item">
          Version
          <span class="b-snap__version u-float--right">{{ version }}</span>
      </li>

      <li class="p-list__item">
          Channel
          <span class="b-snap__version u-float--right">{{ channel }}</span>
      </li>
{{#if install_date}}
      <li class="p-list__item">
          Updated
          <span class="b-snap__version u-float--right">{{ install_date }}</span>
      </li>
{{/if}}
</ul>

  </div>

  <div class="col-5" style="border: 1px dotted #cdcdcd; padding: 1em 1em; height: 15em; overflow-x: hidden; overflow-y: scroll;">
    <h3 class="">Interfaces</h3>
    <div id="interface-list">
    </div>
  </div>

</div>

<div class="row" style="padding-bottom: 3em">
  <div class="col-8">
    <h3>About</h3>
      {{#if description}}
      <p>{{{ description }}}</p>
      {{/if}}
    </div>
</div>
