<a href="/snap/{{ name }}" class="search-results__tags--link"></a>
<div class="one-col"><img class="pkg-img" src="{{ icon }}" /></div>
<div class="five-col"><h3>{{ title }}</h3></div>
<div class="three-col">{{ publisher }}</div>
<div class="three-col last-col">{{ price }}</div>
