<div class="b-icon" data-type="{{type}}">
  <img src="{{ icon }}" width="90" height="90">
</div>
<div class="b-snaplist__id">
  <p class="b-snaplist__name">{{ name }}</p>
  <p class="b-snaplist__vendor">{{ vendor }}</p>
</div>
{{!-- only name is shown in grid view, everything after is hidden --}}
<div class="b-snaplist__origin">{{ origin }}</div>
<div class="b-snaplist__version">{{ version }}</div>
<div class="b-snaplist__actions">
  {{> installer}}
</div>
