<img class="p-card__icon" src="{{ icon }}" width="125" height="125">
<h3 id="js-snap-title" class="p-card__title">{{ name }} ({{ version }})</h3>
{{#if developer}}
  <p class="p-card__content">By {{ developer }}</p>
{{/if}}
{{#if price }}
  <p class="p-card__content">{{ price }}</p>
{{/if}}
<footer class="p-card__footer">
    <div class="u-float--right">
        {{> installer installerClass="b-installer_small"}}
    </div>
</footer>
