<div class="b-icon" data-type="{{type}}">
  <img src="{{ icon }}" width="90" height="90">
</div>
<div class="b-snaplist__id">
  <div class="b-snaplist__name">{{ name }}</div>
  <div class="b-snaplist__version">{{ version }}</div>
</div>
<div class="b-snaplist__src">
  <div class="b-snaplist__origin">{{ origin }}</div>
</div>
<div class="b-snaplist__actions">
  {{> installer}}
</div>
